.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.center-rigth{
	display: block;
	margin-right: 10px;
	margin-left: auto;
	text-align: right;
}

.tang_home{
	padding-top:200px;
}
.rigth-boder{
	border-right:2px solid black;
}
.tang_detail{
	padding-top: 100px;
}

.detail{
	padding-top: 100px;
}

.project_list{
	padding-top: 15px;
	padding-left: 50px;
}
