{{#view 'left-tem'}}
	<div class="page-header">
	  <h1>WHO AM I</h1>
	</div>
	<div class="project_list">
		<h4 class="text-primary">我是一名程序员，渴望充满激情和活力的生活！</h4>
		
	</div>

	<div class="page-header">
	  <h1>COMMUNITIY</h1>
	</div>
	<div class="project_list">
		<form class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">RubyChina</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">https://ruby-china.org/roam</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">SinaWeb</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">http://weibo.com/2184406400/profile</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Twitter</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{description}}</p>
		    </div>
		  </div>
		</form>
	</div>

	<div class="page-header">
	  <h1>CONTACT ME</h1>
	</div>
	<div class="project_list">
		<div class="project_list">
		<form class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Phone</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">18917291053</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">QQ</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">751557853</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-2 control-label">Email-Work</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">roam.tang@sap.com</p>
		    </div>
		  </div>
		   <div class="form-group">
		    <label class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">liulangdewoniu@gmail.com</p>
		    </div>
		  </div>
		</form>
	</div>
	</div>
{{/view}}
