<div class="container-fluid" >
  <div class="col-md-6 col-md-offset-3">
    <div class="center-block tang_home">
      <img src="assets/image/middle.png" class="img-circle" width="73.4px" hight="134.5PX">
      <h1 class=".lead"><em>Hey, I am Tang</em></h1>
      <p>A developer, live with passion </p>
        <ul class="nav nav-pills">
          <div class="tang_detail container-fluid">
            <li role="presentation" class="col-md-2 col-md-offset-3">{{link-to 'Projects' 'projects'}}</li>
            <li role="presentation" class="col-md-2">{{link-to 'Footprints' 'footprints'}}</li>
            <li role="presentation" class="col-md-2">{{link-to 'About' 'about'}}</li>
          </div>
        </ul>
    </div>
  </div>
</div>